<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>Department Web Application</display-name>

    <servlet>
        <servlet-name>DepartmentController</servlet-name>
        <servlet-class>com.s3k3l3v.department.controller.DepartmentController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DepartmentController</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>departmentList.jsp</welcome-file>
    </welcome-file-list>
</web-app>